@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap');
:root{
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
  background: var(--light-gray);
}
.main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 250px;
  background: var(--white);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0, .075);;
}
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
.qr-img{
  width: 100%;
}
.cont_text{
  padding: 10px;
  text-align: center;
}
.cont-header{
  font-weight: 700;
  margin-top: 0;
  color: var(--dark-blue);
}
.cont-para{
  font-size: 15px;
  color: var(--grayish-blue);
}
@media screen and (max-width:375px) {
  .container{
    width: 80%;
  }
}